@use "partials/reset" as *;
@use "partials/variables" as *;
@use "partials/mixins" as *;


.card {
    width: calc(100% / 6);
    padding-top: 40px;

    img {
        width: 100px;
        height: 100px;
    }
    h3 {
        font-size: x-small;
        color: white;
        text-transform: uppercase;
        padding-top: 5px;
    }
}
