@use "partials/reset" as *;
@use "partials/variables" as *;
@use "partials/mixins" as *;


header {
    background-color: $bg-header-color;
    height: 100px;
}
.my-row {
    @include flex;
    height: $height-percentual;
}
ul {
    @include flex;
    list-style: none;
}
a {
    color: $text-header-color;
    text-decoration: none;
    padding: 10px;
    font-size: x-small;
    font-weight: bold;
}