/* 
    --------------------
    MIXINS
    --------------------
*/
@use "variables" as *;

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-no-between {
    display: flex;
}
@mixin no-ul {
    list-style: none;
}
@mixin button-blue {
    background-color: $bg-links-color;
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}