/* 
    --------------------
    VARIABLES
    --------------------
*/

// Colors
$text-header-color: black;
$bg-header-color: white;
$bg-main-color: black;
$text-main-color: white;
$bg-links-color: #0282F9;
$debug-border: 2px dashed red;

// Dimension
$height-percentual: 100%;
