/* 
    --------------------
    VARIABLES
    --------------------
*/

// Colors
$text-header-color: black;
$bg-header-color: white;
$debug-border: 2px dashed red;

// Dimension
$height-percentual: 100%;
